@font-face {
  font-family: "DM";
  src: url(fonts/Dm_Serfif_Display/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: "Tangerine";
  src: url(fonts/Tangerine/Tangerine-Regular.ttf);
}
body {
  margin: 0;
}
header,
footer,
figure,
figcaption,
section,
article,
aside,
img {
  margin: 0;
  padding: 0;
  display: block;
}
.clear {
  clear: both;
}
header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 6vw;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 0 0 0.7vw 0 #bdb0a9;
}
#main_title {
  width: 25%;
  margin-top: 0.5vw;
  margin-right: 14%;
  text-align: center;
  font-weight: 10;
  font-family: "Tangerine";
  letter-spacing: 0.3vw;
  font-size: 3vw;
}
.icon {
  margin-left: 0.5%;
}
.decor1 {
  position: absolute;
  top: 0;
  left: 75%;
  float: right;
  width: 25%;
  height: 50vw;
  background-color: #f8dda4;
}
header .linkstripeleft,
header .linkstriperight {
  float: right;
  height: 0.3vw;
  width: 10%;
  background-color: #f8dda4;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: 1.3vw;
  border-radius: 5vw;
}
header .linkstripeleft {
  margin-right: 1.5%;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header nav ul li a {
  float: right;
  margin-right: 3.5%;
  height: 3vw;
  width: 5%;
  color: black;
  font-size: 1.2vw;
  font-family: "DM";
  font-style: normal;
  text-decoration: none;
  position: absolute;
  top: 2.3vw;
  left: 79.5%;
  transition: all 300ms;
}
header nav ul li a:hover {
  transform: scale(1.2, 1.2);
}
header nav ul li .link2 {
  margin-right: 6.5%;
  left: 91.5%;
}
section {
  width: 100%;
}
section main {
  width: 80%;
  margin-top: 8vw;
  margin-left: 18%;
}
section main p {
  margin-top: 0vw;
  width: 100%;
  height: 2vw;
  font-size: 4vw;
  font-family: "DM";
}

section form {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vw;
}
input[type="text"],
select,
textarea {
  resize: vertical;
  border: 0.05vw solid #b8b7b7;
  width: 100%;
  height: 2vw;
  border: 0.005 solid black;
  padding-left: 1vw;
  font-size: 1.2vw;
  border-radius: 1vw;
  font-family: "DM";
}
label {
  font-family: "DM";
  font-size: 1.2vw;
}
textarea {
  height: 5vw;
}
input[type="submit"] {
  background-color: #f8dda4;
  border-radius: 2vw;
  border: none;
  font-size: 1.7vw;
  font-family: "DM";
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 40%;
  margin-top: 1vw;
}
@media screen and (max-width: 664px) {
  header {
    display: flex;
    justify-content: flex-end;
    height: 10vw;
  }
  #main_title {
    width: 50%;
    margin-top: 0vw;
    margin-right: 8%;
    font-size: 7vw;
  }
  header .linkstripeleft,
  header .linkstriperight {
    height: 0.5vw;
    margin-right: 8.5%;
  }
  header .linkstriperight {
    margin-left: 1.5%;
    margin-right: 5.5%;
  }
  header nav ul li a {
    margin-right: 3.5%;
    height: 3vw;
    width: 5%;
    font-size: 2.7vw;
    position: absolute;
    top: 4vw;
    left: 82%;
  }

  header nav ul li .link2 {
    margin-right: 6.5%;
    left: 66.5%;
  }

  section {
    width: 100%;
  }
  section main {
    width: 80%;
    margin-top: 12vw;
    margin-left: 12%;
  }
  section main p {
    margin-top: 0vw;
    width: 100%;
    height: 2vw;
    font-size: 8vw;
    font-family: "DM";
  }

  section form {
    width: 75%;
    margin-top: 20vw;
  }
  input[type="text"],
  select,
  textarea {
    height: 7vw;
    font-size: 2.2vw;
    border-radius: 3vw;
  }
  label {
    font-size: 3.2vw;
  }
  textarea {
    height: 10vw;
  }
  input[type="submit"] {
    border-radius: 2vw;
    border: none;
    font-size: 5.7vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 35%;
    margin-top: 2vw;
    margin-bottom: 10vw;
  }
}
